@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body,
html {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Montserrat', sans-serif !important;
    overflow-x: hidden !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.nav-link {
    color: white !important;
}

.navbar-brand {
    color: white !important;

}

.Navbar-row {
    min-height: 40px !important;
    background: #2c2c2c !important;
}

h1 {
    font-size: 20px !important;
}

.flex-container {
    display: flex !important;
}



/*Card*/

.checked {
    color: yellow;
    font-size: 20px;
}

.unchecked {
    font-size: 20px;
}



.card-body {
    padding: 0.5rem;
}

.card-footer {
    background-color: transparent !important;
    border-top: none !important;
}

.card-body .description {
    font-size: 0.78rem;
    padding-bottom: 8px;
}

div.h6,
h6 {
    margin: 0;
}

.product .fa-star {
    font-size: 0.9rem;
}

.rebate {
    font-size: 1.4rem;
    color: #888;
}

.btn.btn-primary {
    background-color: #48b83e;
    color: #fff;
    border: 1px solid #008000;
    border-radius: 10px;
    font-weight: 800;
}

.btn.btn-primary:hover {
    background-color: #48b83ee8;
}

.imgdiv {
    width: 192px;
    height: 167px;
    object-fit: contain;
}

.img {
    width: 192px;
    object-fit: contain;
}




select {
    box-shadow: none !important;
    border-color: black !important;
}

.fa-plus {
    color: green !important;
    margin: 5px !important;
}

.fa-minus {
    color: red !important;
    margin: 5px !important;
}

.fa-trash {
    color: red !important;
}

input {
    margin-top: 10px !important;
    box-shadow: none !important;
}

.adminfunctions {
    margin-top: 40px;
    padding: 10px;
    background-color: #784251;
}

.adminfunctions li {
    list-style-type: none !important;
    display: inline !important;
    color: white !important;

}

.adminfunctions li a {
    color: white !important;
    padding: 20px;
    text-decoration: none;

}

td,
th,
tr {
    text-align: left !important;
}

.register {

    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 90vh;
}

.btnauth {
    background-color: #870100 !important;
    color: white !important;
    font-size: 13px !important;

}


.voir {
    float: right;
    background: 0 0;
    padding: 0;
    color: #00bcf2;
    font-size: 15px;
}

.voir:hover {
    color: #00bef29d;
}